/* Style rules for Api4 Explorer */

#bootstrap-theme.api4-explorer-page .panel-heading {
  height: 50px;
}
#bootstrap-theme.api4-explorer-page form.panel .panel-heading {
  padding-top: 12px;
}
#bootstrap-theme.api4-explorer-page form.panel .panel-heading button {
  position: relative;
  top: -5px;
}
#bootstrap-theme.api4-explorer-page .row .panel-body {
  height: 400px;
  overflow: auto;
}
